@import "tailwindcss";
@import "primeicons/primeicons.css";


/* widen and increase the height of the popup content */
.leaflet-popup-content {
  width: 300px !important;      /* adjust width */
  max-width: 350px !important;
  max-height: 400px !important; /* adjust height */
}

.leaflet-popup-content-wrapper {
  padding: 1rem !important;     /* more breathing room */
}
